default_language_version:
  python: python3.13

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.9
    hooks:
      - id: ruff
        name: Ruff
        description: Run Ruff linter and autofixer
        entry: ruff check --fix
        language: python
        types: [python]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        name: MyPy
        description: Run static type checking
        entry: mypy
        language: python
        types: [python]
        args: [--config-file, pyproject.toml]
        additional_dependencies:
          - types-PyYaml
          - types-requests
          - mashumaro
          - typer
          - pyhumps

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        name: Codespell
        description: Spell check source files
        entry: codespell
        language: python
        types: [text]
        additional_dependencies: [tomli]

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        name: YAMLLint
        description: Lint YAML files using relaxed config
        entry: yamllint -d relaxed
        language: python
        types: [yaml]
        exclude: (\.vscode|\.devcontainer|\.github)

  - repo: https://github.com/pappasam/toml-sort
    rev: v0.24.2
    hooks:
      - id: toml-sort
        args: ["--in-place", "--all", "--ignore-case"]
        types: [toml]
