# name: PyTest & Code Coverage Report
# on: [workflow_dispatch, pull_request]
# jobs:
#   run:
#     runs-on: ubuntu-latest
#     env:
#       OS: ubuntu-latest
#       PYTHON: '3.11'
#     steps:
#       - uses: actions/checkout@master
#       - name: Setup Python
#         uses: actions/setup-python@master
#         with:
#           python-version: '3.11'
#       - name: Generate coverage report
#         run: |
#           pip install pytest-cov
#           pip install -r requirements-dev.txt
#           pytest --cov=./ --cov-report=xml --cov-report=html
#       - name: Upload coverage reports to Codecov
#         uses: codecov/codecov-action@v3
